{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3">Report</h1>
<div class="card-deck mb-3 text-center">
    <div style="width: 220px;font-size: 1vw;">
        <div class="card-header">
            <p class="my-0 font-weight-normal">Product</p>
        </div>
    </div>
    <div style="width: 220px;font-size: 1vw;">
        <div class="card-header">
            <p class="my-0 font-weight-normal">Warehouse</p>
        </div>
    </div>
    <div style="width: 220px;font-size: 1vw;">
        <div class="card-header">
            <p class="my-0 font-weight-normal">QTY</p>
        </div>
    </div>
</div>
{% for item in inventory_data.items %}
<div class="card-deck mb-3 text-center">
    <div style="width: 220px;font-size: 1vw;">
        <div class="card-body">
            <p class="card-title pricing-card-title">{{ item.product.name }}</p>
        </div>
    </div>
    <div style="width: 220px;font-size: 1vw;">
        <div class="card-body">
            <p class="card-title pricing-card-title">{{ item.location.name }}</p>
        </div>
    </div>
    <div style="width: 220px;font-size: 1vw;">
        <div class="card-body">
            <p class="card-title pricing-card-title">{{ item.qty }}</p>
        </div>
    </div>
</div>
{% endfor %}
{% for page_num in inventory_data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if inventory_data.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('main.inventory', page=page_num) }}">{{ page_num
    }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('main.inventory', page=page_num) }}">{{
    page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}