{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3">Product Movements</h1>
<div class="card-deck mb-3 text-center">
    <button class="btn btn-lg btn-outline-primary" type="button" data-toggle="modal" data-target="#selectModal">Add
        Product Movement +</button>
</div>
<div class="card-deck mb-3 text-center">
    <div style="width: 180px;font-size: 1vw;">
        <div class="card-header">
            <p class="my-0 font-weight-normal">Product</p>
        </div>
    </div>
    <div style="width: 180px;font-size: 1vw;">
        <div class="card-header">
            <p class="my-0 font-weight-normal">Timestamp</p>
        </div>
    </div>
    <div style="width: 180px;font-size: 1vw;">
        <div class="card-header">
            <p class="my-0 font-weight-normal">From Location</p>
        </div>
    </div>
    <div style="width: 180px;font-size: 1vw;">
        <div class="card-header">
            <p class="my-0 font-weight-normal">To Location</p>
        </div>
    </div>
    <div style="width: 180px;font-size: 1vw;">
        <div class="card-header">
            <p class="my-0 font-weight-normal">QTY</p>
        </div>
    </div>
</div>
{% for product_movement in product_movements.items %}
<div class="card-deck mb-3 text-center">
    <div style="width: 180px;font-size: 1vw;">
        <div class="card-body">
            <p class="card-title pricing-card-title">{{ product_movement.product.name }}</p>
        </div>
    </div>
    <div style="width: 180px;font-size: 1vw;">
        <div class="card-body">
            <p class="card-title pricing-card-title">{{ product_movement.timestamp }}</p>
        </div>
    </div>
    <div style="width: 180px;font-size: 1vw;">
        <div class="card-body">
            <p class="card-title pricing-card-title">{{ product_movement.from_location.name }}</p>
        </div>
    </div>
    <div style="width: 180px;font-size: 1vw;">
        <div class="card-body">
            <p class="card-title pricing-card-title">{{ product_movement.to_location.name }}</p>
        </div>
    </div>
    <div style="width: 180px;font-size: 1vw;">
        <div class="card-body">
            <p class="card-title pricing-card-title">{{ product_movement.qty }}</p>
        </div>
    </div>
</div>
{% endfor %}
{% for page_num in product_movements.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if product_movements.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('product_movements.product_movements', page=page_num) }}">{{ page_num
    }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('product_movements.product_movements', page=page_num) }}">{{
    page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}

<!-- Modal -->
<div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="selectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectModalLabel">Select Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding: 10px; font-size: 0.8vw;">
                <form action="{{ url_for('product_movements.product_movements') }}" method="POST">
                    <label for="product">Product:</label>
                    <select id="product" name="product_id">
                        {% for product in products %}
                        <option value="{{ product.product_id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                    <div>
                        <label for="from_location">From Location:</label>
                        <select id="from_location" name="from_location_id">
                            <option value="">N/A</option>
                            {% for location in locations %}
                            <option value="{{ location.location_id }}">{{ location.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="to_location">To Location:</label>
                        <select id="to_location" name="to_location_id">
                            <option value="">N/A</option>
                            {% for location in locations %}
                            <option value="{{ location.location_id }}">{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input class="btn btn-lg" type="submit" value="Confirm">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}