{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <input type="hidden" name="product_id" value="{{ product_id }}">
        {% if from_location_id %}
        <input type="hidden" name="from_location_id" value="{{ from_location_id }}">
        {% endif %}
        {% if to_location_id %}
        <input type="hidden" name="to_location_id" value="{{ to_location_id }}">
        {% endif %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Specify Quantity</legend>
            <div class="form-group">
                {{ form.qty.label(class="form-control-label") }}
                {% if form.qty.errors %}
                {{ form.qty(class="form-control form-control-lg is-invalid", min=1, max=max_qty) }}
                <div class="invalid-feedback">
                    {% for error in form.qty.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.qty(class="form-control form-control-lg", min=1, max=max_qty) }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}